<!DOCTYPE html>
<html>
<head>
  <title>Shortener</title>
  <%= stylesheet_link_tag    "shortener/application", :media => "all" %>
  <%= javascript_include_tag "shortener/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
