<div id="container"></div>

<script type="text/javascript">
  $(document).ready(function() {
    Shortener.Collections.ShortenedUrls.prototype.url = '<%= shortened_urls_path %>';
    new Shortener.Routers.ShortenedUrls();
    Backbone.history.start();
  })
</script>